/*Definizione delle variabili css relative ai colori*/
:root{
  --bluScuro: #000080;
  --azzurro1: #4c80cb;
  --azzurro2:  #506aff;
  --rosso: #cf2d47;
}

#partefinale{
background-color:black;
text-align:center;
border-radius: 5px;
color:white;
}

#partefinale{
  background-color:black;
  text-align:center;
  border-radius: 5px;
  color:white;
}




body{
  /*
      Richiamare una variabile
      background-color: var(--rosso);
  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: visible;

}

.navbar-brand{
  width: 100px;
  height: 40px;
  background-image: url("../ICONS/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

main{
  height: 180vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

header{
  width: 100%;
}
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: var(--azzurro2);
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: var(--azzurro2);
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.copyright-area{
background: #f7f7f7;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: var(--azzurro2);
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: var(--azzurro2);
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

.navigation a{
  position: relative;
  font-size: 1.1em;
  color: var(--bluScuro);
  text-decoration: none;
  font-weight: 500;
  margin-left: 80px;
}
.navigation .login-popup{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--bluScuro);
  color: var(--bluScuro);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 40px;
}
.navigation .login-popup:hover{
  background: var(--bluScuro);
  color: #332758;
  transition: all .5;

}
.navigation a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--bluScuro);
  border-radius: 5px;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transition: transform .3s;
}
.navigation a:hover::after{
  transform: scaleX(1);
}