@font-face {
    font-family: montserrat;
    src: url(../Montserrat-VariableFont_wght.ttf);
}

*{
    font-family: montserrat;
}

/***************************************************************/
/***********************HEADER*********************************/

header{
    border-bottom: solid 1px rgb(68, 68, 68);
}

.navbar{
    background-color: #87cfebdf;
    /*background-color: #17659d8c;*/
    position: fixed;
    width: 100%;
}



.testoNav{
    font-size: 17px;
    font-weight: 600;
}


#ListaNav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.bottoniL{
  border:solid rgb(255, 255, 255) 5px;
  border-radius: 50px;
  color: white;
  margin-right: 10px;
}

.bottoniL:hover{
  color: white;
  transform: scale(1.1);
}


li:hover{
  transform: scale(1.1);
}

/**************************************************************/


/************************MAIN***************************************/

#introduzione{
    height: 600px;
    width: 100%;
    background-color: white;
}


#esercizi{
    height: 1300px;
    width: 100%;
    background-color:  #191970;
    border: solid 1px rgb(68, 68, 68);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#provvisorio{
    width: 100%;
    height: 100px;
    
}

#TestoIntroduzione{
    width: 100%;
    height: 500px;
    text-align: center;
}

#TestoIntroduzione > .bottoniL{
  border:#000080 solid 6px;
  color: #000080;
  font-weight: 800;
}

h1{
    font-weight: 600;
    margin-bottom: 30px;
}


.textIntroduzione{
  font-size: 25px;
}



.Es{
    width: 85%;
    height: 450px;
    background-color: #232386;
    border-radius: 20px;
    margin-bottom: 30px;


    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.Es:hover{
  box-shadow: 0px 0px 11px -1px #000000;
}

#Es1{
    margin-top: 100px;
}

h2{
    font-size: 40px;
    color: #ffffff;
    font-weight: 700;
    /*background-image: linear-gradient(90deg, #ff4747, #ff4880);*/
}

.testo{
    color: white;
    font-size: large;
}


/*****************************************************************/
.assistenza {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  box-shadow: 0px 0px 11px -1px #000000;
}

.icona-assistenza img {
  width: 30px;
  height: 30px;
}





/************************FOOTER*********************************/

.footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer-text {
    margin: 0;
    text-decoration: wavy;
  }
  /******************* SOCIAL ************************/

  .fa {
    padding: 10px;
    margin-top: 20px;
    margin-right: 10px; 
    display: inline-block;  
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa-facebook{
    background: #3B5998;
    color: white;
  }

  .fa-instagram{
    background-color: #cf2d47;
    color: white;
  }

  .fa-globe{
    background-color: #000080;
    color: white;
  }

  .fa:hover {
    opacity: 0.6;
    color: white;
  }

  /*******************END SOCIAL**********************/

  /*******************END FOOTER**********************/