* {
    padding: 0px;
    margin: 0px;
}

main {
    height: 100vh;
    overflow: hidden;
}

main>div:first-child {
    background-image: url("https://media-assets.wired.it/photos/63bbe5fcc19faeec4a50f3c4/3:2/w_8268,h_5512,c_limit/GettyImages-1409722748.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

#contenitore-signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** CSS CARD LOGIN**/

.form-container {
    width: 500px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
}

.signup-img {
    width: 185px;
    
    position: relative;
    left: 33%;
    
}

.form {
    margin-top: 1.5rem;
}

.input-group {
    padding: 10px;

    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}

.input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
    border-color: var(--rosso);
}


.signin a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
}

.signin a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
}

.btn-continua {
    display: block;
    width: 100%;
    background: linear-gradient(to right, var(--azzurro1), var(--azzurro2));
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
}

.signin {
    padding: 10px;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
}

/** FINE CSS CARD LOGIN **/