* {
    padding: 0px;
    margin: 0px;
}

main {
    height: 100vh;
    overflow: hidden;
}

main>div:first-child {
    background-image: url("https://media-assets.wired.it/photos/63bbe5fcc19faeec4a50f3c4/3:2/w_8268,h_5512,c_limit/GettyImages-1409722748.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

#contenitore-signup {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-54583.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/** CSS CARD LOGIN**/

.form-container {
    width: 500px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
}

.signup-img {
    width: 185px;

    position: relative;
    left: 29%;
    padding-bottom: 15px;
}

.form {
    margin-top: 1.5rem;
}

.input-group {
    padding: 10px;

    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}

.input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
}

.input-group input:hover {
    border-color: var(--rosso);
    cursor: pointer;
}

.input-group input:focus {
    border-color: var(--azzurro2);
}

.signin a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
}

.signin a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
}

.btn-continua {
    display: block;
    width: 100%;
    background: linear-gradient(to right, var(--azzurro1), var(--azzurro2));
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
}

.signin {
    padding: 10px;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
}

#scelta {
    display: flex;

    width: 200px;
    height: 40px;

    margin-top: 30px;
}

span > a {
    color: var(--azzurro1);
}

/** FINE CSS CARD LOGIN **/



/** CSS TERMINI E CONDIZIONI **/

.checkbox {
    --border-default: #bbbbc1;
    --border-hover: var(--rosso);
    --active: var(--azzurro2);
    --active-tick: #ffffff;
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.checkbox svg {
    display: block;
    position: absolute;
}

.checkbox input {
    display: block;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 36%/36%;
    box-shadow: inset 0 0 0 1.5px var(--border, var(--border-default));
    background: var(--background, transparent);
    transition: background 0.25s linear, box-shadow 0.25s linear;
}

.checkbox input+svg {
    width: 21px;
    height: 18px;
    left: 0;
    top: 0;
    color: var(--active);
}

.checkbox input+svg .tick {
    stroke-dasharray: 20;
    stroke-dashoffset: var(--stroke-dashoffset, 20);
    transition: stroke-dashoffset 0.2s;
}

.checkbox input+svg .tick.mask {
    stroke: var(--active-tick);
}

.checkbox input+svg+svg {
    width: 11px;
    height: 11px;
    fill: none;
    stroke: var(--active);
    stroke-width: 1.25;
    stroke-linecap: round;
    top: -6px;
    right: -10px;
    stroke-dasharray: 4.5px;
    stroke-dashoffset: 13.5px;
    pointer-events: none;
    -webkit-animation: var(--animation, none) 0.2s ease 0.175s;
    animation: var(--animation, none) 0.2s ease 0.175s;
}

.checkbox input:checked {
    --background: var(--active);
    --border: var(--active);
}

.checkbox input:checked+svg {
    --stroke-dashoffset: 0;
}

.checkbox input:checked+svg+svg {
    --animation: check95;
}

.checkbox:hover input:not(:checked) {
    --border: var(--border-hover);
}

@keyframes check95 {
    100% {
        stroke-dashoffset: 4.5px;
    }
}

/** FINE CSS TERMINI E CONDIZIONI **/